
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>修改密码</title>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/js/jquery-3.4.0.min.js"></script>
    <script src="~/js/md5.js"></script>
    <script src="~/lib/layui/layui.js"></script>
    <script type="text/javascript">
        $(function () {
            layui.use(['element', 'layer'], function () {
                var layer = layui.layer;

            });
        });

        function Update() {
            var oldpassword = $("#oldPassword").val();
            if (oldpassword == "") {
                layer.tips('当前密码不能为空', '#oldPassword', {
                    tips: [1, '#0FA6D8'] //还可配置颜色
                });
                $("#oldPassword").focus();
                return;
            }

            var password = $("#password").val();
            if (password == "") {
                layer.tips('新密码不能为空', '#password', {
                    tips: [1, '#0FA6D8'] //还可配置颜色
                });
                $("#password").focus();
                return;
            }

            var repassword = $("#repassword").val();
            if (password != repassword) {
                layer.msg("两次输入密码不一致", { icon: 5 });
                $("#repassword").focus();
                return;
            }
            var md5old = hex_md5(oldpassword);
            var md5new = hex_md5(password);
            //异步去后台修改
            $.ajax({
                url: "/Admin/Home/UpdatePassword",
                type: "post",
                datatype: "json",
                data: { oldpassword: md5old, newpassword: md5new },
                success: function (data) {
                    if (data.result == true) {
                        layer.msg("修改成功！", { icon: 1, time: 1000 }, function () {
                            //刷新父页面
                            parent.location.reload()
                            //location.replace("/Account/Login");
                        });
                    }
                    else {
                        layer.msg(data.msg, { icon: 5 });
                        return;
                    }
                }
            });
        }

/**/</script>
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">修改密码</div>
                    <div class="layui-card-body" pad15>

                        <div class="layui-form" lay-filter="">
                            <div class="layui-form-item">
                                <label class="layui-form-label">当前密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="oldPassword" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">新密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="password" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">确认新密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="repassword" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" id="btnOk" onclick="Update();">确认修改</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
